<div class="row mt-3">

<h5>{{ customersProducts[0].customer.fantasyName }}</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Endereço</th>
      <th scope='col'>ServerId</th>
      <th scope="col">Parâmetros</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customerProduct of customersProducts">
      <th scope="row">{{ customerProduct.product.name }}</th>
      <td>{{ customerProduct.addressName }}</td>
      <td>{{ customerProduct.serversId }}</td>
      <td (click)='onclickCustomerProd(customerProduct.customersProductsId, customerProduct.product.productId)'>
        <span><i class="fa fa-ellipsis-v"></i></span></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" (click)='newCustomerProducsts()'>
  <span><i style="color: white;" class="fa fa-plus" aria-hidden="true"></i></span> Novo</button>
<button class="btn btn-danger ml-2" (click)='cancelListCustomerProducsts()'>
  <span><i style="color: white;" class="fa fa-times" aria-hidden="true"></i></span> Cancelar</button>

 <div #forms class="row mt-2 mb-4">
   <app-form-bsf  *ngIf="isAlterSettingsBSF" (_bsfValue)='_bsfreceived($event)' [customerId]='customerId' [customersProductsId]='customersProductsId' ></app-form-bsf>
   <app-form-cross #formCross *ngIf="isAlterSettingsCross" [customersProductsId]='customersProductsId'></app-form-cross>
   <app-form-sincservices #formSincServices *ngIf="isAlterSettingsSincServices" [customersProductsId]='customersProductsId'></app-form-sincservices>
   <app-form-sincweb #formSincWeb *ngIf="isAlterSettingsSincWeb" [customersProductsId]='customersProductsId'></app-form-sincweb>
   <app-form-concentrator #formConc *ngIf="isAlterSettingsConcentrator" [customersProductsId]='customersProductsId'></app-form-concentrator>
 </div>
</div>
