  <div *ngIf="valorLoading">
    <div class="spinner-border" role="status" >
     <span class="sr-only">Carregando...</span>
    </div>
   <p>Aguarde carregando clientes ...</p>
  </div>
  <app-menu-cloud (changeCustomerProduct)='receberEvent($event)' *ngIf="!valorLoading" [customersMenu]='customers'></app-menu-cloud>
  <div class="container">
    <div class="row" style="margin-left: 12%; margin-top: 3% ">
      <div class="col-lg-12">
        <app-dashboard-cloud [customerProducts]='customerProduct' *ngIf="isActiveDash" ></app-dashboard-cloud>
      </div>
    </div>
  </div>

