
  <div *ngIf="isExecutingScript">
        <div class="spinner-border" role="status" style="margin-left: 50%;">
         <span class="sr-only">Carregando...</span>
        </div>
       <p>Aguarde Montando ambiente em nuvem.</p>
  </div>
<form [formGroup]='customerProductFormGroup' (submit)='onSubmitCustomerProduct()' >
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01" (change)="onChangeSelect($event.target.value)">
          <option selected>Selecione um Produto</option>
          <option *ngFor="let product of products" [value]="product.productId">{{product.name}}</option>
        </select>
      </div>
      <div class="col-6">
        <select class="custom-select" id="inputGroupSelectServer" name="inputGroupSelectServer" (change)="onChangeSelectServer($event.target.value)">
          <option selected>Selecione um Servidor</option>
          <option *ngFor="let server of servers" [value]="server.serversId">{{server.hostname}}</option>
        </select>
      </div>
      <div class="col-12">
      <label for="addressName">Endereço</label>
      <input type="text" formControlName='addressName' class="form-control" id="addressName" name="addressName" placeholder="cliente.celtaware.com.br">
      </div>
      <div class="col-sm-6">
        <label for="ipAddress">IP</label>
        <input type="text" formControlName='ipAddress' class="form-control" id="ipAddress" name="ipAddress" placeholder="xxx.xxx.xxx.xxx">
      </div>
      <div class="col-6">
        <label for="port">Porta de acesso</label>
        <input type="text" formControlName='port' class="form-control" id="port" name="port" placeholder="porta">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="loginUser">Nome de Usuário</label>
        <input type="text" formControlName='loginUser' class="form-control" id="loginUser" name="loginUser" placeholder="nome de usuário">
      </div>
      <div class="col-6">
        <label for="loginPassword">Senha</label>
        <input type="text" formControlName='loginPassword' class="form-control" id="loginPassword" name="loginPassword" placeholder="senha">
      </div>
      <div class="col-6">
        <label for="installDirectory">Diretório</label>
        <input type="text" formControlName='installDirectory' class="form-control" id="installDirectory" name="installDirectory" placeholder="diretório para instalação">
      </div>
      <div class="col-6 form-check">
        <input type="checkbox" class="form-check-input" name="checkIsCloud" id="checkIsCloud" [checked]="isCheckCreateCloud" (change)="clicado(isCheckCreateCloud?false: true)">
        <label for="checkIsCloud">Criar em nuvem</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="synchronizerServiceName">Nome do serviço</label>
        <input type="text" formControlName='synchronizerServiceName' class="form-control" id="synchronizerServiceName" name="synchronizerServiceName" placeholder="Synchronizer name">
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Gravar</button>
    <a class="btn btn-danger" (click)="btnCancel()">Cancelar</a>
    <!-- <a class="btn btn-success" (click)="btnAddCustomerProduct()">Gravar e criar em nuvem</a> -->
</form>
