<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Hostname</th>
      <th scope="col">Database</th>
      <th scope="col">Tipo</th>
      <th scope="col">Horario</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of backupsSchedules">
      <th scope="row">{{schedule.backupScheduleId}}</th>
      <td>{{ schedule.customerProduct.server.hostname }}</td>
      <td>{{ schedule.databases.databaseName }}</td>
      <td>{{ schedule.type }}</td>
      <td>{{ schedule.dateHourExecution }}</td>
      <td>{{ schedule.backupStatus }}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-info" (click)='ShowNew()'>Novo</button>

<form [formGroup]='backupScheduleFormGroup' (submit)='onSubmitBackupSchedule()' *ngIf="isShowNew" >
  <div class="form-group">
    <div class="row">
      <div class="col-12">
      <label for="inputGroupSelectType">Tipo</label>
      <select class="custom-select" id="inputGroupSelectType" name="inputGroupSelect01" (change)="onChangeSelect($event.target.value)">
        <option selected [value]="0">Full</option>
        <option [value]="1">Diferencial</option>
        <option [value]="2">Incremental</option>
        <option [value]="3">MysqlFull</option>
      </select>
      </div>
      <div class="col-sm-12">
        <label for="dateHourExecution">Horario</label>
        <input type="time" formControlName='dateHourExecution' class="form-control" id="dateHourExecution" name="dateHourExecution">
      </div>
    </div>
    <div class="col-sm-12">
      <label for="directory">Diretório de gravação do backup</label>
      <input type="text" formControlName='directory' class="form-control" id="directory" name="directory" placeholder="/volumes-iscsi/dircliente/mssqlcliente">
    </div>
    </div>


    <button type="submit" class="btn btn-outline-secondary">Gravar</button>
    <a class="btn btn-danger" >Cancelar</a>
</form>
