
  <div *ngIf="isExecutingScript">
    <div class="spinner-border" role="status" style="margin-left: 50%;">
     <span class="sr-only">Gravando...</span>
    </div>
</div>
<form [formGroup]='customerProductFormGroup' (submit)='onSubmitCustomerProduct()' >
<div class="form-group">
<div class="row">
  <div class="col-6">
    <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01" (change)="onChangeSelect($event.target.value)">
      <option selected>Selecione um Produto</option>
      <option *ngFor="let product of products" [value]="product.productId">{{product.name}}</option>
    </select>
  </div>
  <div class="col-6">
    <select class="custom-select" id="inputGroupSelectServer" name="inputGroupSelectServer" (change)="onChangeSelectServer($event.target.value)">
      <option selected>Selecione um Servidor</option>
      <option *ngFor="let server of servers" [value]="server.serversId">{{server.hostname}}</option>
    </select>
  </div>
</div>
</div>
<button type="submit" class="btn btn-primary">Gravar</button>
<button class="btn btn-danger" (click)="btnCancel()">Cancelar</button>
<!-- <a class="btn btn-success" (click)="btnAddCustomerProduct()">Gravar e criar em nuvem</a> -->
</form>
