<table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Endereço</th>
      <th scope='col'>ServerId</th>
      <!-- <th scope="col">IP</th>
      <th scope="col">Porta</th>
      <th scope="col">Usuário</th>
      <th scope="col">Senha</th>
      <th scope="col">Diretório</th>-->
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customerProduct of customersProducts">
      <th scope="row">{{ customerProduct.product.name }}</th>
      <td>{{ customerProduct.addressName }}</td>
      <td>{{ customerProduct.serversId }}</td>
      <!-- <td>{{ customerProduct.ipAddress }}</td>
      <td>{{ customerProduct.port }}</td>
      <td>{{ customerProduct.loginUser }}</td>
      <td>{{ customerProduct.loginPassword }}</td>
      <td>{{ customerProduct.installDirectory }}</td>
      <td>{{ customerProduct.synchronizerServiceName }}</td> -->
      <td (click)='onclickCustomerProd(customerProduct.customersProductsId)'>
        <span><i style="color: blue;" class="fa fa-plus" aria-hidden="true"></i></span></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" (click)='newCustomerProducsts()'>
  <span><i style="color: white;" class="fa fa-plus" aria-hidden="true"></i></span> Novo</button>
