<div class="row">
<div class="col-sm-4 mt-2" style="color: green;" *ngFor="let server of servers" >
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-subtitle mb-2 text-muted">{{server.hostname}}</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text"><strong>Server Id:</strong>{{server.serversId}}</p>
    <p class="card-text"><strong>Endereço ip:</strong>{{server.ipAddress}}</p>
    <p class="card-text"><strong>Porta API:</strong>{{server.port}}</p>
    <a class="card-link" (click)='loadBackupSchedule(server)'>Agendamento de Backup</a>
  </div>
</div>
</div>
</div>
<div class="row mt-3" *ngIf="isShowScheduleBackup" >
 <app-backupschedule [_server]='myServer'></app-backupschedule>
</div>
