<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h6>Armazenamento</h6>
      </div>
      <div class="card-body">
        <p><strong>Tamanho Banco de dados:</strong> 460 MB. </p>
        <p><strong>Espaço contratado: </strong> 2.0GB</p>
        <p><strong>Espaço livre: </strong><span style="color:blue">23% em uso.</span></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Última atualização 3 minutos.</small>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h6>Internet</h6>
      </div>
      <div class="card-body">
        <p><strong>Total utilizado:</strong> 630 mbps. </p>
        <p><strong>Internet contratada: </strong> 700 mbps.</p>
        <p><strong>Banda livre: </strong><span style="color:red">90% em uso.</span></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Última atualização 3 minutos.</small>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h6>Memória RAM</h6>
      </div>
      <div class="card-body">
        <p><strong>Total utilizado:</strong> 460 MB. </p>
        <p><strong>Quantidade contratado: </strong> 2.0GB</p>
        <p><strong>Espaço livre: </strong><span style="color:blue">23% em uso.</span></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Última atualização 3 minutos.</small>
      </div>
    </div>
  </div>
</div>


<div class="card " style="margin-top: 3%">
  <div class="card-header">
    Informações detalhadas
  </div>
  <div class="card-body">
    <div class="card-deck">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    Informar aqui as possíveis atualizações
  </div>
</div>
