  <main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row" style="justify-content:center">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="background-color: olivedrab">
            <a [routerLink]="['environments']">
            <div style="height: 225px; width: 100%; display: block; text-align: center; background-color: olivedrab; margin-top: 5%">
              <span style="font-size: 48px; color:white;">
                <i class="fa fa-download fa-5x"></i>
              </span>
            </div>
          </a>
            <div class="card-header" style="background-color:white">
              <h4>Environments Celta Cloud</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="background-color: olivedrab">
            <a [routerLink]="['cloud']">
            <div style="height: 225px; width: 100%; display: block; text-align: center; background-color: olivedrab; margin-top: 5%">
              <span style="font-size: 48px; color:white;">
                <i class="fa fa-cloud fa-5x"></i>
              </span>
            </div>
            </a>
            <div class="card-header" style="background-color:white">
              <h4>Cloud</h4>
            </div>
          </div>
        </div>
      </div> <!--Fecha Div Row-->
      <div class="row" style="justify-content:center">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="background-color:olivedrab">
            <a [routerLink]="['tech']">
            <div style="height: 225px; width: 100%; display: block; text-align: center; background-color: olivedrab; margin-top: 5%">
              <span style="font-size: 48px; color:white;">
                <i class="fa fa-user-circle-o fa-4x"></i>
              </span>
            </div>
            </a>
            <div class="card-header" style="background-color:white">
              <h4>Administrativo</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="background-color:olivedrab">
            <a [routerLink]="['task']">
            <div style="height: 225px; width: 100%; display: block; text-align: center; background-color: olivedrab; margin-top: 5%">
              <span style="font-size: 48px; color:white;">
                <i class="fa fa-tasks fa-4x"></i>
              </span>
            </div>
            </a>
            <div class="card-header" style="background-color:white">
              <h4>Tarefas</h4>
            </div>
          </div>
        </div>
      </div><!--Fecha Div Row-->

    </div><!--Fecha Div Container-->
  </div><!--Fecha Div album-->

</main>
