<form [formGroup]='sincServicesFormGroup' (submit)='onSubmitFormSincServices()'>
  <div class="form-group">
    <div class="row">
      <input type="text" formControlName='appSincServicesId' class="form-control invisible" id="appSincServicesId" visible='false'>
      <input type="text" formControlName='customersProductsId' class="form-control invisible" id="customersProductsId" visible='false'>
      <div class="col-6">
        <label for="addressName">Nome DNS</label>
        <input type="text" formControlName='addressName' class="form-control" id="addressName" placeholder="http//...">
      </div>
      <div class="col-sm-4">
        <label for="ipaddress">Endereço IP</label>
        <input type="text" formControlName='ipaddress' class="form-control" id="ipaddress" placeholder="xxx.xxx.xxx.xxx">
      </div>
      <div class="col-sm-2">
        <label for="port">Porta</label>
        <input type="text" formControlName='port' class="form-control" id="port">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="synchronizerServiceName">Nome do Serviço</label>
        <input type="text" formControlName='synchronizerServiceName' class="form-control" id="synchronizerServiceName" placeholder="Nome do Serviço">
      </div>
      <div class="col-6">
        <label for="rootDirectory">Diretório de instalação</label>
      <input type="text" formControlName='rootDirectory' class="form-control" id="rootDirectory" placeholder="diretório">
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Gravar</button>
    <button class="btn btn-danger">Cancelar</button>
    <a class="btn btn-warning"> Alterar</a>

</form>
